appdirs==1.4.3
blessings==1.6
bpython==0.16
click==6.7
coverage==4.4.1
curtsies==0.2.11
Flask==0.12.2
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
nose==1.3.7
packaging==16.8
Pygments==2.2.0
pyparsing==2.2.0
requests==2.14.2
six==1.10.0
wcwidth==0.1.7
Werkzeug==0.12.2
